body {
    margin: 0;
    /* height: 100%; */
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* TODO update min height */
    min-height: 300px;
    background-color: burlywood;
}

.table {
    position: relative;
    width: 50rem;
    /* height: 300px; */
    aspect-ratio: 1.4;
    background-color: #008000;
    border-radius: 10rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.card {
    width: 100px;
    aspect-ratio: 0.714;
    border: 0.1rem solid black;
    background-color: #fff;
    border-radius: 1rem;
    margin: 0.1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

#deck {
    display: flex;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: beige;
    margin-bottom: 5rem;
}

.played-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.1rem;
}

.player {
    position: absolute;
    width: 30rem;
    text-align: center;
    /* TEMP */
    background-color: antiquewhite;
}

.top-player {
    top: 5rem;
}

.right-player {
    right: 10rem;
    /* transform: rotate(-90deg); */
}

.bottom-player {
    bottom: 5rem;
}

.left-player {
    left: 10rem;
    /* transform: rotate(90deg); */
}

.player-info {
    margin-bottom: 10px;
}

.player-name {
    font-size: 18px;
    font-weight: bold;
}

.player-picture {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 0.1rem;
}

.player-score {
    color: #666;
}

.hand {
    display: flex;
    justify-content: space-between;
}

.bottom-player .hand .card,
#deck,
.played-cards .card {
    cursor: pointer;
}

.selected {
    background-color: darkgrey;
}